<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>com.roily.servlet.ServletDemo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sa</servlet-name>
        <servlet-class>com.roily.servlet.ServletAttribute</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sa</servlet-name>
        <url-pattern>/sa</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sct</servlet-name>
        <servlet-class>com.roily.servlet.SetContextContext</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sct</servlet-name>
        <url-pattern>/sct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gct</servlet-name>
        <servlet-class>com.roily.servlet.GetServletContext</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gct</servlet-name>
        <url-pattern>/gct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ssc</servlet-name>
        <servlet-class>com.roily.servlet.SetSessionCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ssc</servlet-name>
        <url-pattern>/ssc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gsc</servlet-name>
        <servlet-class>com.roily.servlet.GetSessionCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gsc</servlet-name>
        <url-pattern>/gsc</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <!--        <init-param>-->
        <!--            <param-name>forceRequestEncoding</param-name>-->
        <!--            <param-value>true</param-value>-->
        <!--        </init-param>-->
        <init-param>
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
