<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roily.mapper.DepartmentMapper">
    <select id="getAll" resultType="department">
        select * from department

        where deptName like concat('%',#{queryParam.keyWord},'%')

        limit #{pageUtil.start},#{pageUtil.limit}
    </select>


    <select id="getAll2" resultType="department">
        select * from department

        where deptName like concat('%',#{keyWord},'%')

        limit #{pageUtil.start},#{pageUtil.limit}
    </select>

    <select id="getAll3" resultType="department">
        select * from department

        where deptName like concat('%',#{queryParam.keyWord},'%')

        limit #{queryParam.pageUtil.start},#{queryParam.pageUtil.limit}

    </select>

    <select id="getAll4" resultType="department">
        select * from department

        where deptName like concat('%',#{queryParam.keyWord},'%')

        limit #{queryParam.start},#{queryParam.limit}

    </select>

</mapper>
